@model Cookbook.Models.Recipe

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-6">
        <span class="h1">@Html.DisplayFor(model => model.Title) </span> <span class="h6 badge bg-secondary" style="vertical-align: top;">New</span>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Cuisine)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Cuisine)
            </dd>
            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Rating)
            </dd>

            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Cooktime)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Cooktime) mins
            </dd>

            <dt class = "col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class = "col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <div class="row">
            <b>@Html.DisplayNameFor(model => model.Ingredients)</b>
            <ul class="list-group list-group-flush">
                @foreach (var item in Model.IngredientsList()) {
                    <li class="list-group-item">@item</li>
                }
            </ul>
        </div>
    </div>
    <div class="col-6">
        <img src="@Model.Image" class="detailImage" style="width: 100%;" />
    </div>
</div>


<div class="row">
    <p class="h4 b">@Html.DisplayNameFor(model => model.Directions)</p>
    <div class="col">
        <ul class="list-group list-group-flush">
            @foreach (var item in Model.DirectionsList()) {
                <li class="list-group-item">@item</li>
            }
        </ul>
    </div>
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
